<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste Utilisateur </h4>
                        <p class="card-category"> Information sur les Utilisateurs disponible</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                   Nom Complet
                                </th>
                                <th>
                                    Login
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Option
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let ul of utilisateurList" >
                                    <td>
                                        {{ul.id}}
                                    </td>
                                    <td>
                                        {{ul.firstName}} {{ul.lastName}}
                                    </td>
                                    <td>
                                        {{ul.login}}
                                    </td>
                                    <td class="text-primary">
                                        {{ul.login}}
                                    </td>
                                    <td class="text-primary">
                                        <a  [routerLink]="[route_utilisateur_detail]" class="nav-link" title="Edit details">
                                            <span class="svg-icon svg-icon-md">
                                                <i class="material-icons">assignment</i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
