<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">

        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by Student
            <a href="http://mbds-fr.org/les-antennes-du-mbds/mbds-haiti/" target="_blank">MBDS HAITI</a>.
        </div>
    </div>
</footer>
