<div class="main-content">
    <div class="container-fluid">

        <button class="btn btn-success btn-round " mat-button (click)="openDialog()">AJouter Un Compter</button>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste Compte </h4>
                        <p class="card-category"> Information sur les comptes disponible</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Numero Compte
                                </th>
                                <th>
                                    Proprietaire
                                </th>
                                <th>
                                    Solde
                                </th>
                                <th>
                                    Option
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let cl of compteList" >
                                    <td>
                                        {{cl.id}}
                                    </td>
                                    <td>
                                        {{cl.numero}}
                                    </td>
                                    <td>
                                        {{cl.owner.firstName}}  {{cl.owner.lastName}}
                                    </td>
                                    <td class="text-primary">
                                        {{cl.montant | currency:'':''}}
                                    </td>
                                    <td class="text-primary">
                                        <a  [routerLink]="[route_compte_detail]+cl.id "class="nav-link" title="Edit details">
                                            <span class="svg-icon svg-icon-md">
                                                <i class="material-icons">assignment</i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



