<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Formulaire Compte</h4>
                <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
                <form #form="ngForm" (ngSubmit)=" ajouterCompte(form.value)">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Prenom" type="text" name="firstName" required [(ngModel)]="compte.owner.firstName">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom" type="text" name="lastName" required [(ngModel)]="compte.owner.lastName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Rue" type="text" name="rue" required [(ngModel)]="compte.owner.adress.rue">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Numero" type="text" name="numero" required [(ngModel)]="compte.owner.adress.numero">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Ville" type="text" name="ville" required [(ngModel)]="compte.owner.adress.ville">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Code Postal" type="text" name="codePostal" required [(ngModel)]="compte.owner.adress.codePostal">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Montant" type="number" name="montant" required [(ngModel)]="compte.montant">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Login" type="text" name="login" required [(ngModel)]="compte.owner.login">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="compte.owner.password">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        <button mat-raised-button type="submit" class="btn btn-danger" [disabled]="!form.valid">Valider</button>
                    </div>
                     <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
