<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marcs.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{compte.owner.lastName}} {{compte.owner.firstName}}</h6>
                        <h4 class="card-title">{{compte.numero}}</h4>

                        <a href="javascript:void(0)" class="btn btn-danger btn-round">{{compte.montant | currency :'':''}}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Liste Operation</h4>
                        <p class="card-category">La liste des transaction </p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>Date</th>
                            <th>Numero</th>
                            <th>Montant</th>
                            <th>Type</th>
                            <th>Statut</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let rs of compte.operations">
                                <td>{{rs.operationDate}}</td>
                                <td>{{rs.numeroCompte}}</td>
                                <td>{{rs.montant | currency :'':''}}</td>
                                <td>{{rs.type}}</td>
                                <td>{{rs.statut}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">


        </div>
    </div>
</div>
