<div class="wrapper">

<!--    <div class="main-panel">-->

        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Connexion</h4>
                                <p class="card-category">Veuillez entrer votre User et Password</p>
                            </div>
                            <div class="card-body">
                                <form #form="ngForm" (ngSubmit)="loginUser(form.value)">

                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Username" type="text" name="login" required [(ngModel)]="login">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="password">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row justify-content-md-center">
                                        <button mat-raised-button type="submit" class="btn btn-danger" [disabled]="!form.valid">Connexion</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--    </div>-->

</div>





