<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Nombre User</p>
                      <h3 class="card-title">{{resumeDash.nbUtilisateur}}

                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">

                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Nombre Compte</p>
                      <h3 class="card-title">{{resumeDash.nbCompte}}</h3>
                  </div>
                  <div class="card-footer">

                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Operation</p>
                      <h3 class="card-title">{{resumeDash.nbOperation}}</h3>
                  </div>
                  <div class="card-footer">

                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Montant</p>
                      <h3 class="card-title">{{resumeDash.nbMontant | currency:'':''}}</h3>
                  </div>
                  <div class="card-footer">

                  </div>
              </div>
          </div>
      </div>


      <div class="row">

          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Liste Operation</h4>
                      <p class="card-category">La liste des transaction </p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Date</th>
                              <th>Numero</th>
                              <th>Montant</th>
                              <th>Type</th>
                              <th>Statut</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let rs of resumeDash.lops">
                                  <td>{{rs.operationDate}}</td>
                                  <td>{{rs.numeroCompte}}</td>
                                  <td>{{rs.montant | currency :'':''}}</td>
                                  <td>{{rs.type}}</td>
                                  <td>{{rs.statut}}</td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
